<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Taller</title>
  <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
  <body>
  <div>
  <nav class="navbar navbar-default navbar-fixed-top">
        
          <div >
              <a href="/clientes" class="list-group-item list-group-item-action bg-light">CLIENTES</a>
          </div>
          <div>
              <a href="/mecanico_responsable" class="list-group-item list-group-item-action bg-light">MECANICOS</a>
          </div>
          <div>
              <a href="/repuestos" class="list-group-item list-group-item-action bg-light">REFACCIONES</a>
          </div>
          <div>
              <a href="/factura" class="list-group-item list-group-item-action bg-light">TRANSACCIONES</a>
          </div>
        </div>
     
      </nav>
   <div>

     
      <div id="page-content-wrapper">
        <div class="container-fluid">
        
            <div class="container">
            
              <div class="row">
      
                  <div class="col-lg-6">
                  <br> <br>
                    <h2>Acerca de la aplicacion</h2>
                    <p>Es una aplicacion para un taller mecanico donde se puede tener acceso de los clientes, vehiculos, mecanitos, etc.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
