<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="d-flex" id="wrapper">
      <nav class="navbar navbar-default navbar-fixed-top">
        
          <div >
              <a href="/clientes" class="list-group-item list-group-item-action bg-light">CLIENTES</a>
          </div>
          <div>
              <a href="/mecanico_responsable" class="list-group-item list-group-item-action bg-light">MECANICOS</a>
          </div>
          <div>
              <a href="/repuestos" class="list-group-item list-group-item-action bg-light">REFACCIONES</a>
          </div>
          <div>
              <a href="/factura" class="list-group-item list-group-item-action bg-light">TRANSACCIONES</a>
          </div>
      </nav>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <h1 class="mt-4 mb-3">Seccion de Vehiculos</h1>
            <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID VEHICULO</th>
                      <th>MODELO</th>
                      <th>COLOR</th>
                      <th>FECHA DE INGRESO</th>
                      <th>HORA DE INGRESO</th>
                      <th>ID DE CLIENTE</th>
                      <th>NOMBRE DE CLIENTE</th>
                    </tr>
                  </thead>
                  <tbody>
                    @each(vehiculo in vehiculos)
                      <tr>
                        <td>{{vehiculo.id}}</td>
                        <td>{{vehiculo.MODELO}}</td>
                        <td>{{vehiculo.COLOR}}</td>
                        <td>{{vehiculo.FECHA_ENT}}</td>
                        <td>{{vehiculo.HORA_ENT}}</td>
                        <td>{{vehiculo.CLIENTE_id}}</td>
                        <td>{{vehiculo.cliente.NOMBRE}}</td>
                        <td>
                          <li>
                            <a class="btn btn-info" href="/vehiculos/editar/{{vehiculo.id}}">Editar</a>
                          </li>
                        </td>
                        <td>
                          <li>
                            <a class="btn btn-danger" href="/vehiculos/eliminar/{{vehiculo.id}}">Eliminar</a>
                          </li>
                        </td>
                        </td>
                      </tr>
                    @endeach
                  </tbody>
              </table>
            </div>
        </div>
      </div>

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>
</html>
